@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://w.wallhaven.cc/full/l3/wallhaven-l3k3my.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(30px)
}

.loading-text { 
  font-size: 50px;
  color: white;
}